# ALIYSS' gitignore
# Can't share everything :')

# Ignore all files
/*
/*/

# Except the following

# General
!/.gitignore
!/README.md
!/README.org

# Images
!/images/

# Emacs
!/emacs/
/emacs/*
/emacs/*/

!/emacs/init.el
!/emacs/early-init.el
!/emacs/config.org
!/emacs/eshell/
!/emacs/eshell/*
!/emacs/eshell/*/
!/emacs/images/
!/emacs/images/*
!/emacs/images/*/

# Flake
!/flake/

# Foot
!/foot/

# Hyprland
!/hypr/
/hypr/device_settings.conf

# Tridactyl
!/tridactyl/
/tridactyl/tridactylrc

# Keymappings
!/xkb/
