#TabsToolbar {
  visibility: collapse;
}

/* Disabled */
/* #main-window { */
/*   background: transparent !important; */
/*   -moz-appearance: none !important; */
/* } */

/* Disabled */
/* #tabbrowser-tabpanels { */
/*   background: transparent !important; */
/*   -moz-appearance: none !important; */
/* } */

/* transparency */
:root {
  --tabpanel-background-color: transparent !important;
  --toolbar-bgcolor: transparent !important;
  --chrome-content-separator-color: transparent !important;
  background: rgba(0, 0, 0, 0.85) !important;
}

toolbox {
  background: transparent !important;
}

#browser {
  background: transparent !important;
}

/* Remove new tab background color added in 1.8b */
.browserStack {
  browser {
    background-color: transparent !important;
  }
}

#nav-bar {
  /* --navbar-margin: -44px; */
  /**/
  /* margin-top: var(--navbar-margin); */
  /* margin-bottom: 0; */
  /* z-index: -100; */
  /* transition: all 0.3s ease !important; */
  /* opacity: 0; */
  background: transparent !important;
}

/* #navigator-toolbox:focus-within > #nav-bar, */
/* #navigator-toolbox:hover > #nav-bar { */
/*   margin-top: 0; */
/*   margin-bottom: var(--navbar-margin); */
/*   z-index: 100; */
/*   opacity: 1; */
/* } */
/**/
/* #TabsToolbar { */
/*   visibility: collapse; */
/* } */
/**/
/* #titlebar { */
/*   display: none; */
/* } */
/**/
/* #sidebar-header { */
/*   display: none; */
/* } */
/**/
/* #statuspanel #statuspanel-label { */
/*   display: block !important; */
/* } */
